<<<<<<< HEAD
body{
  min-width: 1869px;
}
=======
>>>>>>> 1568b8e7df526591bee5e7f5ac297fff488417b9
.hidden{
  display: none;
}

<<<<<<< HEAD
.vision{
  display: block;
}

=======
>>>>>>> 1568b8e7df526591bee5e7f5ac297fff488417b9
.width{

  &-0{
    width: 0;
  }

  &-5{
    width: 5%;
  }

  &-10{
    width: 10%;
  }

  &-15{
    width: 15%;
  }

  &-20{
    width: 20%;
  }

  &-25{
    width: 25%;
  }

  &-30{
    width: 30%;
  }

  &-35{
    width: 35%;
  }

  &-40{
    width: 40%;
  }

  &-45{
    width: 45%;
  }

  &-50{
    width: 50%;
  }

  &-55{
    width: 55%;
  }

  &-60{
    width: 60%;
  }

  &-65{
    width: 65%;
  }

  &-70{
    width: 70%;
  }

  &-75{
    width: 75%;
  }

  &-80{
    width: 80%;
  }

  &-90{
    width: 90%;
  }

  &-95{
    width: 95%;
  }

  &-100{
    width: 100%;
  }
}