.fish{
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 10px;
  background: white;
  transition: all 0.1s;

  & span{
    margin: auto auto;
    font: 18px "Rimouski";
  }

  &:hover{
    transform: scale(1.2);
    background: #293251;
    color: white;
    cursor: pointer;
  }

  &-forecast{
    margin: 30px;
    background: white;
    border-radius: 10px;

    &__bite{
      margin: 10px;
      text-align: center;
    }

    &__title{
      border-radius: 10px 10px 0 0;

      & h1{
        text-align: center;
        margin: 15px auto;
        font-size: 30px;
        color: #293251;
      }
    }
  }

  &-logo{
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 5px 5px 15px;
    color: white;
    font: 18px "Rimouski";
    background: #293251;

    & img{
      padding: 5px 0 0 5px;
    }

    & span{
      padding: 0 5px;
    }
  }

  &-description{
    margin: 10px;
  }

  &-container{
    text-align: center;
    color: #293251;
    font-size: 20px;
    margin: auto auto;
  }
}

.forecast-wrapper{
  width: 97%;
  border: 1px solid black;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;


  & .wave{
    background-repeat: repeat-x;
    animation: waves 2s linear infinite;
    z-index: 0;
    opacity: .5;
  }

  & .wave1{
    background-repeat: repeat-x;
    animation: waves 4s linear infinite;
    opacity: .5;
    z-index: 11;
  }

  & .wave2{
    background-repeat: repeat-x;
    animation: waves 6s linear infinite;
    opacity: .5;
    z-index: 15;

    & span{
      float: right;
      color: white;
      font: 25px "Rimouski";
      margin-top: -12px;
      opacity: 1;
      transition: all 5s;
    }
  }
}

.width_forecast{
  position: absolute;
  bottom: -11px;
  background-image: url('../../images/wave.png');
  transition: all 5s;
  height: 100%;
}

@keyframes waves{
  0%{
    background-position: 0;

  }
  100%{
    background-position: 200px;

  }
}





